$basic-bg: #eae9e5;
$light-text: #e7e7e7;
$black: #1b1918;
$highlighted-bg: #8c6955;
$highlighted-stroke: #664a2e;
$small-text: #ab9f98;
$card-bg: #e5dbc8;
$card-stroke: #d4cab8;
$without-star: #d0bf9e;
$star: #f59e0b;
$line: #d2d2cd;
$text: #907d72;
$font-family: 'DM Sans', sans-serif;
