<section id="about" class="about">
    <div class="container container-about">
        <div>
            <h2>About</h2>
            <p>Step into MythWalker, a groundbreaking geolocation fantasy RPG where every step in the real world brings
                you
                closer to
                unraveling Earth's deepest myths. <br><br> Guided by an ancient being, players traverse real-world
                locations
                to uncover secrets of Mytherra — a mysterious parallel
                realm. A cosmic threat now looms over both dimensions, and only you, the chosen Mythwalker, can restore
                balance. Form
                alliances, uncover ancient truths, and awaken heroes of legend in an immersive journey across worlds.
            </p>
        </div>
        <div class="about-image-wrapper">
            <img src="/img/about/about.png" srcset="/img/about/about.png 1x, /img/about/about@2x.png 2x" alt="app phone"
                class="about-image" />
        </div>
    </div>



</section>