<section id="answer" class="answer">
  <div class="container">
    <div class="content">
      <h2>Answer the Call
        Walk with Legends</h2>
      <p>Download MythWalker today and explore Earth like never before!</p>

      <button type="button" id="google"
        data-game-url="https://play.google.com/store/apps/details?id=com.nantg.ng1&hl=en&gl=us"><svg class="icon-google"
          width="30" height="30">
          <use href="/img/sprite.svg#icon-google-play"></use>
        </svg><span> GET IN ON
          <strong>Google Play
          </strong></span></button>
    </div>
    <picture>
      <source srcset="/img/answer/answer.png, /img/answer/answer@2x.png 2x" media="(min-width: 1200px)"
        type="image/png">
      <source srcset="/img/answer/answer-mob.png, /img/answer/answer-mob@2x.png 2x" media="(max-width: 1199px)"
        type="image/png">
      <img src="/img/answer/answer-mob@2x.png" srcset="/img/answer/answer-mob.png, /img/answer/answer@2x.png 2x"
        alt="Answer the Call Walk with Legends" loading="lazy" width="598" height="226">
    </picture>
  </div>
</section>