<section id="answer" class="answer">
  <div class="container">
    <div class="content">
      <h2>Answer the Call
        Walk with Legends</h2>
      <p>Download MythWalker today and explore Earth like never before!</p>

      <button type="button" id="google"
        data-game-url="https://play.google.com/store/apps/details?id=com.nantg.ng1&hl=en&gl=us"><svg class="icon-google"
          width="30" height="30">
          <use href="/img/sprite.svg#icon-google-play"></use>
        </svg><span> GET IN ON
          <strong>Google Play
          </strong></span></button>
    </div>
    <img src="/img/answer/answer-mob@2x.png" srcset="/img/answer/answer-mob.png, /img/answer/answer@2x.png 2x" alt="">

  </div>
</section>