<section class="characters" id="characters">
  <div class="characters-container container">
    <h2>Characters</h2>
    <div class="swiper" data-swiper="characters">
      <div class="swiper-slide" class="characters-card">
        <figure class="characters-img">
          <picture>
            <source srcset="
                /img/characters/hero-5-mob.png    1x,
                /img/characters/hero-5-mob@2x.png 2x
              " media="(max-width: 1199px)" />
            <source srcset="
                /img/characters/hero-5.png    1x,
                /img/characters/hero-5@2x.png 2x"
              media="(min-width: 1200px)"
            />
            <img
              src="/img/characters/hero-5@2x.png"
              srcset="
                /img/characters/hero-5-mob.png     600w,
                /img/characters/hero-5-mob@2x.png 1200w,
                /img/characters/hero-5.png         800w,
                /img/characters/hero-5@2x.png     1600w
              " sizes="(max-width: 1199px) 280px, 295px"
              alt="Portrait of Aelira, the Celestial Guide, an ancient ethereal being who sees the threads of fate."
              loading="lazy" />
          </picture>
          <h3>Aelira</h3>
          <p>
            The Celestial Guide: An ancient, ethereal being who sees the threads
            of fate. She becomes your mentor and link to Mytherra.
          </p>
        </figure>
      </swiper-slide>
      <swiper-slide class="characters-card">
        <figure class="characters-img">
          <picture>
            <source srcset="
                /img/characters/hero-1-mob.png    1x,
                /img/characters/hero-1-mob@2x.png 2x
              " media="(max-width: 1199px)" />
            <source srcset="
                /img/characters/hero-1.png    1x,
                /img/characters/hero-1@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              src="/img/characters/hero-1@2x.png"
              srcset="
                /img/characters/hero-1-mob.png     600w,
                /img/characters/hero-1-mob@2x.png 1200w,
                /img/characters/hero-1.png         800w,
                /img/characters/hero-1@2x.png     1600w
              " sizes="(max-width: 1199px) 280px, 295px" alt="about-me" loading="lazy" />
          </picture>
          <h3>Korran the Flame-Walker</h3>
          <p>
            A fierce elemental warrior forged from volcanic myths, wielding
            explosive fire-based skills.
          </p>
        </figure>
      </swiper-slide>
      <swiper-slide class="characters-card">
        <figure class="characters-img">
          <picture>
            <source srcset="
                /img/characters/hero-2-mob.png    1x,
                /img/characters/hero-2-mob@2x.png 2x
              " media="(max-width: 1199px)" />
            <source srcset="
                /img/characters/hero-2.png    1x,
                /img/characters/hero-2@2x.png 2x

              "
              media="(min-width: 1200px)"
            />
            <img
              src="/img/characters/hero-2@2x.png"
              srcset="
                /img/characters/hero-2-mob.png     600w,
                /img/characters/hero-2-mob@2x.png 1200w,
                /img/characters/hero-2.png         800w,
                /img/characters/hero-2@2x.png     1600w
              " sizes="(max-width: 1199px) 280px, 295px"
              alt="Illustration of Seren of the Grove, the ancient forest's protective spirit and healer"
              loading="lazy" />
          </picture>
          <h3>Seren of the Grove</h3>
          <p>
            A guardian spirit tied to ancient forests, skilled in healing and
            protective enchantments.
          </p>
        </figure>
      </swiper-slide>
      <swiper-slide class="characters-card">
        <figure class="characters-img">
          <picture>
            <source srcset="
                /img/characters/hero-3-mob.png    1x,
                /img/characters/hero-3-mob@2x.png 2x
              " media="(max-width: 1199px)" />
            <source srcset="
                /img/characters/hero-3.png    1x,
                /img/characters/hero-3@2x.png 2x

              "
              media="(min-width: 1200px)"
            />
            <img
              src="/img/characters/hero-3@2x.png"
              srcset="


                /img/characters/hero-3-mob.png     600w,
                /img/characters/hero-3-mob@2x.png 1200w,
                /img/characters/hero-3.png         800w,
                /img/characters/hero-3@2x.png     1600w
              " sizes="(max-width: 1199px) 280px, 295px"
              alt="Portrait of Thorne Wyrmblade, the fallen Norse knight emerging from shadow for redemption"
              loading="lazy" />
          </picture>
          <h3>Thorne Wyrmblade</h3>
          <p>
            A cursed knight from Norse legend, once lost to shadow, now fighting
            for redemption.
          </p>
        </figure>
      </swiper-slide>
      <swiper-slide class="characters-card">
        <figure class="characters-img">
          <picture>
            <source srcset="
                /img/characters/hero-4-mob.png    1x,
                /img/characters/hero-4-mob@2x.png 2x
              " media="(max-width: 1199px)" />
            <source srcset="
                /img/characters/hero-4.png    1x,
                /img/characters/hero-4@2x.png 2x

              "
              media="(min-width: 1200px)"
            />
            <img
              src="/img/characters/hero-4@2x.png"
              srcset="

                /img/characters/hero-4-mob.png     600w,
                /img/characters/hero-4-mob@2x.png 1200w,
                /img/characters/hero-4.png         800w,
                /img/characters/hero-4@2x.png     1600w
              " sizes="(max-width: 1199px) 280px, 295px"
              alt="Portrait of Veyra the Sky-Seer, a storm-wielding prophetess foreseeing cosmic upheavals"
              loading="lazy" />
          </picture>
          <h3>Veyra the Sky-Seer</h3>
          <p>A prophetess with storm powers who foresees cosmic upheavals.</p>
        </figure>
      </swiper-slide>
    </swiper-container>
  </div>
</section>