<section class="gallery-section section" id="gallery">
  <div class="container gallery-container">
    <h2 class="gallery-title">Gallery</h2>
    <div data-swiper="gallery" class="swiper">
      <ul class="swiper-wrapper gallery-list">
        <li class="swiper-slide gallery-item">
          <picture>
            <source
              srcset="
                /img/gallery/gallery4-1-mob.png    1x,
                /img/gallery/gallery4-1-mob@2x.png 2x
              "
              media="(max-width: 1199px)"
            />
            <source
              srcset="
                /img/gallery/gallery4-1.png    1x,
                /img/gallery/gallery4-1@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              src="/img/gallery/gallery4-1@2x.png"
              srcset="
                /img/gallery/gallery4-1-mob.png  600w,
                /img/gallery/gallery4-1-mob@2x  1200w,
                /img/gallery/gallery4-1.png      800w,
                /img/gallery/gallery4-1@2x.png  1600w
              "
              sizes="(max-width: 1199px) 200px, 333px"
              alt="Game character creation: Priest with blue braided hair buns and face paint"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="swiper-slide gallery-item">
          <div class="double-img">
            <picture>
              <source
                srcset="
                  /img/gallery/gallery4-2-mob.png    1x,
                  /img/gallery/gallery4-2-mob@2x.png 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  /img/gallery/gallery4-2.png    1x,
                  /img/gallery/gallery4-2@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="/img/gallery/gallery4-2@2x.png"
                srcset="
                  /img/gallery/gallery4-2-mob.png  600w,
                  /img/gallery/gallery4-2-mob@2x  1200w,
                  /img/gallery/gallery4-2.png      800w,
                  /img/gallery/gallery4-2@2x.png  1600w
                "
                sizes="(max-width: 1199px) 200px, 334px"
                alt="Armored fox warrior with shield and allies battling a red dragon in a ruined courtyard"
                loading="lazy"
              />
            </picture>
            <!-- ___________________ -->
            <picture>
              <source
                srcset="
                  /img/gallery/gallery4-3-mob.png    1x,
                  /img/gallery/gallery4-3-mob@2x.png 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  /img/gallery/gallery4-3.png    1x,
                  /img/gallery/gallery4-3@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="/img/gallery/gallery4-3@2x.png"
                srcset="
                  /img/gallery/gallery4-3-mob.png  600w,
                  /img/gallery/gallery4-3-mob@2x  1200w,
                  /img/gallery/gallery4-3.png      800w,
                  /img/gallery/gallery4-3@2x.png  1600w
                "
                sizes="(max-width: 1199px) 200px, 334px"
                alt="Game avatar featuring a grinning corgi face and pointed ears"
                loading="lazy"
              />
            </picture>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="double-img">
            <picture>
              <source
                srcset="
                  /img/gallery/gallery4-4-mob.png    1x,
                  /img/gallery/gallery4-4-mob@2x.png 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  /img/gallery/gallery4-4.png    1x,
                  /img/gallery/gallery4-4@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="/img/gallery/gallery4-4@2x.png"
                srcset="
                  /img/gallery/gallery4-4-mob.png  600w,
                  /img/gallery/gallery4-4-mob@2x  1200w,
                  /img/gallery/gallery4-4.png      800w,
                  /img/gallery/gallery4-4@2x.png  1600w
                "
                sizes="(max-width: 1199px) 200px, 333px"
                alt="Fantasy town with magical buildings and a riverside dock."
                loading="lazy"
              />
            </picture>
            <!-- ___________________ -->
            <picture>
              <source
                srcset="
                  /img/gallery/gallery4-5-mob.png    1x,
                  /img/gallery/gallery4-5-mob@2x.png 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  /img/gallery/gallery4-5.png    1x,
                  /img/gallery/gallery4-5@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="/img/gallery/gallery4-5@2x.png"
                srcset="
                  /img/gallery/gallery4-5-mob.png  600w,
                  /img/gallery/gallery4-5-mob@2x  1200w,
                  /img/gallery/gallery4-5.png      800w,
                  /img/gallery/gallery4-5@2x.png  1600w
                "
                sizes="(max-width: 1199px) 200px, 333px"
                alt="Fantasy heroes trio with dog warrior, elf archer, and human mage."
                loading="lazy"
              />
            </picture>
          </div>
        </li>
        <!-- </li> -->
        <li class="swiper-slide gallery-item">
          <picture>
            <source
              srcset="
                /img/gallery/gallery1-1-mob.png    1x,
                /img/gallery/gallery1-1-mob@2x.png 2x
              "
              media="(max-width: 1199px)"
            />
            <source
              srcset="
                /img/gallery/gallery1-1.png    1x,
                /img/gallery/gallery1-1@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              src="/img/gallery/gallery1-1@2x.png"
              srcset="
                /img/gallery/gallery1-1-mob.png  600w,
                /img/gallery/gallery1-1-mob@2x  1200w,
                /img/gallery/gallery1-1.png      800w,
                /img/gallery/gallery1-1@2x.png  1600w
              "
              sizes="(max-width: 1199px) 200px, 333px"
              alt="Heroic and villainous creatures posing with weapons and magic."
              loading="lazy"
            />
          </picture>
        </li>
        <li class="swiper-slide gallery-item">
          <div class="double-img">
            <picture>
              <source
                srcset="
                  /img/gallery/gallery1-2-mob.png    1x,
                  /img/gallery/gallery1-2-mob@2x.png 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  /img/gallery/gallery1-2.png    1x,
                  /img/gallery/gallery1-2@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="/img/gallery/gallery1-2@2x.png"
                srcset="
                  /img/gallery/gallery1-2-mob.png  600w,
                  /img/gallery/gallery1-2-mob@2x  1200w,
                  /img/gallery/gallery1-2.png      800w,
                  /img/gallery/gallery1-2@2x.png  1600w
                "
                sizes="(max-width: 1199px) 200px, 334px"
                alt="Map showing game beta launch hours in Perth, Adelaide, and Sydney."
                loading="lazy"
              />
            </picture>
            <!-- ___________________ -->
            <picture>
              <source
                srcset="
                  /img/gallery/gallery1-3-mob.png    1x,
                  /img/gallery/gallery1-3-mob@2x.png 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  /img/gallery/gallery1-3.png    1x,
                  /img/gallery/gallery1-3@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="/img/gallery/gallery1-3@2x.png"
                srcset="
                  /img/gallery/gallery1-3-mob.png  600w,
                  /img/gallery/gallery1-3-mob@2x  1200w,
                  /img/gallery/gallery1-3.png      800w,
                  /img/gallery/gallery1-3@2x.png  1600w
                "
                sizes="(max-width: 1199px) 200px, 334px"
                alt="Wanted poster of goblin traitor for market robbery."
                loading="lazy"
              />
            </picture>
          </div>
        </li>
        <li class="swiper-slide gallery-item">
          <div class="double-img">
            <picture>
              <source
                srcset="
                  /img/gallery/gallery1-4-mob.png    1x,
                  /img/gallery/gallery1-4-mob@2x.png 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  /img/gallery/gallery1-4.png    1x,
                  /img/gallery/gallery1-4@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="/img/gallery/gallery1-4@2x.png"
                srcset="
                  /img/gallery/gallery1-4-mob.png  600w,
                  /img/gallery/gallery1-4-mob@2x  1200w,
                  /img/gallery/gallery1-4.png      800w,
                  /img/gallery/gallery1-4@2x.png  1600w
                "
                sizes="(max-width: 1199px) 200px, 333px"
                alt="Regal magical woman surrounded by glowing blue crystals."
                loading="lazy"
              />
            </picture>
            <!-- ___________________ -->
            <picture>
              <source
                srcset="
                  /img/gallery/gallery1-5-mob.png    1x,
                  /img/gallery/gallery1-5-mob@2x.png 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  /img/gallery/gallery1-5.png    1x,
                  /img/gallery/gallery1-5@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="/img/gallery/gallery1-5@2x.png"
                srcset="
                  /img/gallery/gallery1-5-mob.png  600w,
                  /img/gallery/gallery1-5-mob@2x  1200w,
                  /img/gallery/gallery1-5.png      800w,
                  /img/gallery/gallery1-5@2x.png  1600w
                "
                sizes="(max-width: 1199px) 200px, 333px"
                alt="Evil-looking trio with a skeleton-faced leader and magical creatures."
                loading="lazy"
              />
            </picture>
          </div>
        </li>
        <!-- </li> -->
        <li class="swiper-slide gallery-item">
          <picture>
            <source
              srcset="
                /img/gallery/gallery2-1-mob.png    1x,
                /img/gallery/gallery2-1-mob@2x.png 2x
              "
              media="(max-width: 1199px)"
            />
            <source
              srcset="
                /img/gallery/gallery2-1.png    1x,
                /img/gallery/gallery2-1@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              src="/img/gallery/gallery2-1@2x.png"
              srcset="
                /img/gallery/gallery2-1-mob.png  600w,
                /img/gallery/gallery2-1-mob@2x  1200w,
                /img/gallery/gallery2-1.png      800w,
                /img/gallery/gallery2-1@2x.png  1600w
              "
              sizes="(max-width: 1199px) 200px, 333px"
              alt="Players prepare for battle on a magical platform near a wrecked ship and hostile crabs."
              loading="lazy"
            />
          </picture>
        </li>
        <li class="swiper-slide gallery-item">
          <div class="double-img">
            <picture>
              <source
                srcset="
                  /img/gallery/gallery2-2-mob.png    1x,
                  /img/gallery/gallery2-2-mob@2x.png 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  /img/gallery/gallery2-2.png    1x,
                  /img/gallery/gallery2-2@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="/img/gallery/gallery2-2@2x.png"
                srcset="
                  /img/gallery/gallery2-2-mob.png  600w,
                  /img/gallery/gallery2-2-mob@2x  1200w,
                  /img/gallery/gallery2-2.png      800w,
                  /img/gallery/gallery2-2@2x.png  1600w
                "
                sizes="(max-width: 1199px) 200px, 334px"
                alt="Colorful cityscape from MythWalker featuring docks, labs, and glowing palace."
                loading="lazy"
              />
            </picture>
            <!-- ___________________ -->
            <picture>
              <source
                srcset="
                  /img/gallery/gallery2-3-mob.png    1x,
                  /img/gallery/gallery2-3-mob@2x.png 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  /img/gallery/gallery2-3.png    1x,
                  /img/gallery/gallery2-3@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="/img/gallery/gallery2-3@2x.png"
                srcset="
                  /img/gallery/gallery2-3-mob.png  600w,
                  /img/gallery/gallery2-3-mob@2x  1200w,
                  /img/gallery/gallery2-3.png      800w,
                  /img/gallery/gallery2-3@2x.png  1600w
                "
                sizes="(max-width: 1199px) 200px, 334px"
                alt="Stylized cartoon dog with wide eyes in a character customization menu."
                loading="lazy"
              />
            </picture>
          </div>
        </li>
        <li class="swiper-slide gallery-item">
          <div class="double-img">
            <picture>
              <source
                srcset="
                  /img/gallery/gallery2-4-mob.png    1x,
                  /img/gallery/gallery2-4-mob@2x.png 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  /img/gallery/gallery2-4.png    1x,
                  /img/gallery/gallery2-4@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="/img/gallery/gallery2-4@2x.png"
                srcset="
                  /img/gallery/gallery2-4-mob.png  600w,
                  /img/gallery/gallery2-4-mob@2x  1200w,
                  /img/gallery/gallery2-4.png      800w,
                  /img/gallery/gallery2-4@2x.png  1600w
                "
                sizes="(max-width: 1199px) 200px, 333px"
                alt="Fantasy queen warning about the fate of Mytherra and Earth."
                loading="lazy"
              />
            </picture>
            <!-- ___________________ -->
            <picture>
              <source
                srcset="
                  /img/gallery/gallery2-5-mob.png    1x,
                  /img/gallery/gallery2-5-mob@2x.png 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  /img/gallery/gallery2-5.png    1x,
                  /img/gallery/gallery2-5@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="/img/gallery/gallery2-5@2x.png"
                srcset="
                  /img/gallery/gallery2-5-mob.png  600w,
                  /img/gallery/gallery2-5-mob@2x  1200w,
                  /img/gallery/gallery2-5.png      800w,
                  /img/gallery/gallery2-5@2x.png  1600w
                "
                sizes="(max-width: 1199px) 200px, 333px"
                alt="MythWalker heroes standing ready for adventure in a fantasy world."
                loading="lazy"
              />
            </picture>
          </div>
        </li>
        <!-- </li> -->
        <li class="swiper-slide gallery-item">
          <picture>
            <source
              srcset="
                /img/gallery/gallery3-1-mob.png    1x,
                /img/gallery/gallery3-1-mob@2x.png 2x
              "
              media="(max-width: 1199px)"
            />
            <source
              srcset="
                /img/gallery/gallery3-1.png    1x,
                /img/gallery/gallery3-1@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              src="/img/gallery/gallery3-1@2x.png"
              srcset="
                /img/gallery/gallery3-1-mob.png  600w,
                /img/gallery/gallery3-1-mob@2x  1200w,
                /img/gallery/gallery3-1.png      800w,
                /img/gallery/gallery3-1@2x.png  1600w
              "
              sizes="(max-width: 1199px) 200px, 333px"
              alt="Magic-clad character exploring a map with creatures and a levitating tree."
              loading="lazy"
            />
          </picture>
        </li>
        <li class="swiper-slide gallery-item">
          <div class="double-img">
            <picture>
              <source
                srcset="
                  /img/gallery/gallery3-2-mob.png    1x,
                  /img/gallery/gallery3-2-mob@2x.png 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  /img/gallery/gallery3-2.png    1x,
                  /img/gallery/gallery3-2@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="/img/gallery/gallery3-2@2x.png"
                srcset="
                  /img/gallery/gallery3-2-mob.png  600w,
                  /img/gallery/gallery3-2-mob@2x  1200w,
                  /img/gallery/gallery3-2.png      800w,
                  /img/gallery/gallery3-2@2x.png  1600w
                "
                sizes="(max-width: 1199px) 200px, 334px"
                alt="Front and back concept art of armored dog warrior character."
                loading="lazy"
              />
            </picture>
            <!-- ___________________ -->
            <picture>
              <source
                srcset="
                  /img/gallery/gallery3-3-mob.png    1x,
                  /img/gallery/gallery3-3-mob@2x.png 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  /img/gallery/gallery3-3.png    1x,
                  /img/gallery/gallery3-3@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="/img/gallery/gallery3-3@2x.png"
                srcset="
                  /img/gallery/gallery3-3-mob.png  600w,
                  /img/gallery/gallery3-3-mob@2x  1200w,
                  /img/gallery/gallery3-3.png      800w,
                  /img/gallery/gallery3-3@2x.png  1600w
                "
                sizes="(max-width: 1199px) 200px, 334px"
                alt="Armored canine hero smiling with raised sword under a bright sky."
                loading="lazy"
              />
            </picture>
          </div>
        </li>
        <li class="swiper-slide gallery-item">
          <div class="double-img">
            <picture>
              <source
                srcset="
                  /img/gallery/gallery3-4-mob.png    1x,
                  /img/gallery/gallery3-4-mob@2x.png 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  /img/gallery/gallery3-4.png    1x,
                  /img/gallery/gallery3-4@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="/img/gallery/gallery3-4@2x.png"
                srcset="
                  /img/gallery/gallery3-4-mob.png  600w,
                  /img/gallery/gallery3-4-mob@2x  1200w,
                  /img/gallery/gallery3-4.png      800w,
                  /img/gallery/gallery3-4@2x.png  1600w
                "
                sizes="(max-width: 1199px) 200px, 333px"
                alt="Armored hero glowing with fire stands near portal and crystal structure."
                loading="lazy"
              />
            </picture>
            <!-- ___________________ -->
            <picture>
              <source
                srcset="
                  /img/gallery/gallery3-5-mob.png    1x,
                  /img/gallery/gallery3-5-mob@2x.png 2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  /img/gallery/gallery3-5.png    1x,
                  /img/gallery/gallery3-5@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="/img/gallery/gallery3-5@2x.png"
                srcset="
                  /img/gallery/gallery3-5-mob.png  600w,
                  /img/gallery/gallery3-5-mob@2x  1200w,
                  /img/gallery/gallery3-5.png      800w,
                  /img/gallery/gallery3-5@2x.png  1600w
                "
                sizes="(max-width: 1199px) 200px, 333px"
                alt="Stylized enemies including a purple snake, mysterious man, and sneaky goblin."
                loading="lazy"
              />
            </picture>
          </div>
        </li>
      </ul> 
      </div> 
      <div class="gallery-controls">
          <div class="swiper-button-prev gallery-prev"></div>
          <div class="swiper-pagination gallery-pagination"></div>
          <div class="swiper-button-next gallery-next"></div>
      </div> 
      
       
    </div>
  </div>
</section>