<header class="header">
  <div class="menu-header container">
    <a href="#home">
      <img src="/img/header/logo.png" alt="Game logo">
    </a>

    <nav class="desk_nav">
      <ul class="header-ul">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="#characters">Characters</a></li>
        <li><a href="#reviews">Reviews</a></li>
        <li><a href="#howtoplay">How to Play</a></li>
        <li><a href="#faq">FAQ</a></li>
        <li><a href="#advantages">Advantages</a></li>
        <li><a href="#gallery">Gallery</a></li>
      </ul>
    </nav>
    <button type="button" class="burger" data-menu-open><img src="/img/header/menu@2x.png" alt="burger"></button>
  </div>

  <div data-menu>
    <div class="header-mb">
      <div class="container mob">
        <img src="/img/header/logo.png" alt="Game logo">
        <button type="button" data-menu-close>&times;</button>
      </div>
    </div>
    <nav class="mobile">
      <ul class="header-ul">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="#characters">Characters</a></li>
        <li><a href="#reviews">Reviews</a></li>
        <li><a href="#howtoplay">How to Play</a></li>
        <li><a href="#faq">FAQ</a></li>
        <li><a href="#advantages">Advantages</a></li>
        <li><a href="#gallery">Gallery</a></li>
      </ul>
    </nav>
  </div>

</header>