<section class="home" id="home">
    <div class="home-content container">
        <!-- <h2 class="vissibily-hidden">home</h2> -->
        <picture>
            <source srcset="/img/home/bg-home@2x.png 2x, /img/home/bg-home.png 1x" media="(min-width: 1200px)"
                type="image/png">
            <source srcset="/img/home/bg-home@2x.png 2x, /img/home/bg-home.png 1x" media="(max-width: 1199px)"
                type="image/png">
            <img class="occital" src="/img/home/bg-home.png" alt="occital" loading="lazy">
        </picture>
        <div class="title-home">
            <p>Walk the Earth <br>Save Two Worlds</p>
            <button type="button" id="play-btn"
                data-game-url="https://play.google.com/store/apps/details?id=com.nantg.ng1&hl=en&gl=us">Play
                Now</button>
        </div>
    </div>
    <div class="hero-frame-mob"><img src="/img/home/frame-mob-hero.png" alt="frame" width="320" /></div>
    <div class="hero-frame-desk"><img src="/img/home/frame-desk-hero.png" alt="frame" width="1200" /></div>


</section>