<section class="home container" id="home">
    <!-- <div class="home-content"> -->
    <!-- <h2 class="vissibily-hidden">home</h2> -->
    <img class="occital" src="./images/mobil/occital.png" alt="occital">
    <div class="title-home">
        <p>Walk the Earth <br>Save Two Worlds</p>
        <button>Play Now</button>
    </div>
    <!-- </div> -->
    <img class="hero-frame-mob" src="./images/mobil/frame-mob-hero.png" alt="frame" width="320" />
    <img class="hero-frame-desk" src="./images/mobil/frame-desk-hero.png" alt="frame" width="1200" />
</section>