<section id="reviews" class="reviews-section section">
  <div class="container reviews-container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="reviews-bg">
      <img
        src="/img/reviews/reviews-bg@2x.png"
        alt="Occital"
        width="203"
        height="201"
      />
    </div>
    <div data-swiper="reviews" class="swiper">
      <ul class="swiper-wrapper reviews-list">
        <li class="swiper-slide review-item">
          <div class="review-autor">
            <img
              class="review-img"
              src="/img/reviews/review-1.png"
              alt="Photo Logan P."
              width="43"
              height="43"
            />
            <h3 class="review-name">Logan P.</h3>
          </div>
          <ul class="review-rating" aria-label="5 out of 5 stars">
            <li class="review-star review-star-filled">
              <svg class="reviews-icon" width="16" height="16">
                <use href="/img/sprite.svg#icon-star-gold"></use>
              </svg>
            </li>
            <li class="review-star review-star-filled">
              <svg class="reviews-icon" width="16" height="16">
                <use href="/img/sprite.svg#icon-star-gold"></use>
              </svg>
            </li>
            <li class="review-star review-star-filled">
              <svg class="reviews-icon" width="16" height="16">
                <use href="/img/sprite.svg#icon-star-gold"></use>
              </svg>
            </li>
            <li class="review-star review-star-filled">
              <svg class="reviews-icon" width="16" height="16">
                <use href="/img/sprite.svg#icon-star-gold"></use>
              </svg>
            </li>
            <li class="review-star review-star-filled">
              <svg class="reviews-icon" width="16" height="16">
                <use href="/img/sprite.svg#icon-star-gold"></use>
              </svg>
            </li>
          </ul>
          <p class="review-text">
            "Walking my dog is now an epic quest. Unreal!"
          </p>
        </li>
        <li class="swiper-slide review-item">
          <div class="review-autor">
            <img
              class="review-img"
              src="/img/reviews/review-2.png"
              alt="Photo Maria V."
              width="43"
              height="43"
            />
            <h3 class="review-name">Maria V.</h3>
          </div>
          <ul class="review-rating" aria-label="4 out of 5 stars">
            <li class="review-star review-star-filled">
              <svg class="reviews-icon" width="16" height="16">
                <use href="/img/sprite.svg#icon-star-gold"></use>
              </svg>
            </li>
            <li class="review-star review-star-filled">
              <svg class="reviews-icon" width="16" height="16">
                <use href="/img/sprite.svg#icon-star-gold"></use>
              </svg>
            </li>
            <li class="review-star review-star-filled">
              <svg class="reviews-icon" width="16" height="16">
                <use href="/img/sprite.svg#icon-star-gold"></use>
              </svg>
            </li>
            <li class="review-star review-star-filled">
              <svg class="reviews-icon" width="16" height="16">
                <use href="/img/sprite.svg#icon-star-gold"></use>
              </svg>
            </li>
            <li class="review-star">
              <svg class="reviews-icon" width="16" height="16">
                <use href="/img/sprite.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
          <p class="review-text">
            "Love the myth-based lore and how it syncs with real-world places."
          </p>
        </li>
        <li class="swiper-slide review-item">
          <div class="review-autor">
            <img
              class="review-img"
              src="/img/reviews/review-3.png"
              alt="Photo James L."
              width="43"
              height="43"
            />
            <h3 class="review-name">James L.</h3>
          </div>
          <ul class="review-rating" aria-label="5 out of 5 stars">
            <li class="review-star review-star-filled">
              <svg class="reviews-icon" width="16" height="16">
                <use href="/img/sprite.svg#icon-star-gold"></use>
              </svg>
            </li>
            <li class="review-star review-star-filled">
              <svg class="reviews-icon" width="16" height="16">
                <use href="/img/sprite.svg#icon-star-gold"></use>
              </svg>
            </li>
            <li class="review-star review-star-filled">
              <svg class="reviews-icon" width="16" height="16">
                <use href="/img/sprite.svg#icon-star-gold"></use>
              </svg>
            </li>
            <li class="review-star review-star-filled">
              <svg class="reviews-icon" width="16" height="16">
                <use href="/img/sprite.svg#icon-star-gold"></use>
              </svg>
            </li>
            <li class="review-star review-star-filled">
              <svg class="reviews-icon" width="16" height="16">
                <use href="/img/sprite.svg#icon-star-gold"></use>
              </svg>
            </li>
          </ul>
          <p class="review-text">
            "AR encounters are magical. So much immersion."
          </p>
        </li>
        <li class="swiper-slide review-item">
          <div class="review-autor">
            <img
              class="review-img"
              src="/img/reviews/review-4.png"
              alt="Photo Priya K."
              width="43"
              height="43"
            />
            <h3 class="review-name">Priya K.</h3>
          </div>
          <ul class="review-rating" aria-label="5 out of 5 stars">
            <li class="review-star review-star-filled">
              <svg class="reviews-icon" width="16" height="16">
                <use href="/img/sprite.svg#icon-star-gold"></use>
              </svg>
            </li>
            <li class="review-star review-star-filled">
              <svg class="reviews-icon" width="16" height="16">
                <use href="/img/sprite.svg#icon-star-gold"></use>
              </svg>
            </li>
            <li class="review-star review-star-filled">
              <svg class="reviews-icon" width="16" height="16">
                <use href="/img/sprite.svg#icon-star-gold"></use>
              </svg>
            </li>
            <li class="review-star review-star-filled">
              <svg class="reviews-icon" width="16" height="16">
                <use href="/img/sprite.svg#icon-star-gold"></use>
              </svg>
            </li>
            <li class="review-star review-star-filled">
              <svg class="reviews-icon" width="16" height="16">
                <use href="/img/sprite.svg#icon-star-gold"></use>
              </svg>
            </li>
          </ul>
          <p class="review-text">
            "Fantastic hero designs and surprisingly deep strategy!"
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
