<!-- https://play.google.com/store/apps/details?id=com.nantg.ng1&hl=en&gl=us -->
<section class="trailer-section">
    <div class="container">


        <div class="video-wrapper" data-video-container>
            <div class="video-preview" data-video-preview data-video-src="https://www.youtube.com/embed/Ovkhkou8T8o">
                <img src="/img/video/video.png" width="200" alt="Trailer preview" />
                <button class="play-btn" aria-label="Play trailer">
                    <img src="/img/video/vector.png" alt="">
                </button>
            </div>
        </div>
    </div>
</section>
<!-- <span>&#9654;</span><span>&#x25B6;</span></div> -->