[data-banner] {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: #f2f4f5;
  text-align: center;
  z-index: 998;
}

[data-banner][data-show='true'] {
  display: flex;
  justify-content: center;
}

[data-banner-container] {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding: 20px;
  width: 320px;

  @include media(desktop) {
    width: 1200px;
    padding: 40px 168px;
  }
}

[data-banner-buttons] {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include media(desktop) {
    flex-direction: row;
    gap: 20px;
  }
}

[data-accept],
[data-decline] {
  border-radius: 10px;
  padding: 15px 85px;
  width: 280px;
  height: 50px;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.02em;
  text-align: center;

  @include media(desktop) {
    width: 245px;
    height: 64px;
    font-size: 20px;
  }
}

[data-accept] {
  background-color: $black;
  color: $light-text;

  &:hover {
    background: $highlighted-bg;
  }
}

[data-decline] {
  background-color: transparent;
  border: 1px solid var(--black);
  color: var(--black);

  &:hover {
    background: $card-bg;
  }
}
