[data-go-home] {
  display: none; // приховати всюди

  body[data-page='privacy'] &,
  body[data-page='terms'] &,
  body[data-page='cookies'] & {
    display: flex; // показати лише на цих сторінках
  }

  align-items: center;
  gap: 28px;
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
  background: transparent;
  padding: 10.5px 20px;

  line-height: 112%;
  text-align: center;
  width: 320px;
  margin: 0 auto;
  img {
    width: 7px;
    height: 14px;

    @include media(desktop) {
      width: 9px;
      height: 18px;
    }
  }

  @include media(desktop) {
    font-size: 18px;
    line-height: 100%;
    padding: 21px 80px;
    width: 1200px;
  }

  &:hover {
    text-decoration: underline;
  }
}
.policy {
  width: 320px;
  margin: 0 auto;
  padding: 100px 20px;
  color: var(--black);
  @include media(desktop) {
    width: 1200px;
    padding: 140px 80px;
  }
  h2 {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 20px;
    @include media(desktop) {
      font-size: 48px;
      margin-bottom: 40px;
    }
  }
  p {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
    @include media(desktop) {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }

  ol {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @include media(desktop) {
      margin-top: 40px;
      gap: 20px;
    }
    li {
      display: flex;
      flex-direction: column;
      gap: 5px;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: -0.02em;

      @include media(desktop) {
        font-weight: 400;
        font-size: 24px;
        letter-spacing: -0.02em;
      }

      ul {
        list-style: disc inside;
      }
      ul li {
        display: list-item;
      }
    }
    h3 {
      font-weight: 400;
      font-size: 24px;
      letter-spacing: -0.02em;
      // margin-bottom: 5px;
      @include media(desktop) {
        font-size: 32px;
      }
    }
    p {
      font-weight: 400;
      font-size: 16px;
      margin: 0;
      @include media(desktop) {
        font-size: 24px;
      }
    }
  }
  a {
    text-decoration: underline;
  }
}
