footer {
  width: 100%;
  padding-bottom: 20px;
  background-color: var(--highlighted-bg);
  @include media(desktop) {
    padding-bottom: 40px;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 16px;

    text-align: center;
    color: var(--light-text);
    height: 123px;
    @include media(desktop) {
      height: 148px;
      gap: 20px;
    }

    ul {
      display: flex;
      flex-direction: row;
      gap: 5px 20px;
      flex-wrap: wrap;
      justify-content: center;

      @include media(desktop) {
        flex-direction: row;
        gap: 40px;
      }
    }
    a {
      font-weight: 500;
      font-size: 12px;
      letter-spacing: -0.02em;
      color: var(--light-text);

      @include media(desktop) {
        font-size: 16px;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  p {
    font-weight: 400;
    font-size: 10px;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--light-text);
    @include media(desktop) {
      font-size: 13px;
    }
  }
}
