.gallery-section {
  position: relative;
  padding-bottom: 40px;
  overflow: hidden;

  @media (min-width: 1200px) {
    padding-bottom: 80px;
  }

  &-container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .gallery-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 32px;
    text-align: left;
    margin-bottom: 20px;

    @media (min-width: 1200px) {
      font-size: 48px;
      margin-bottom: 40px;
      color: var(--black);
    }
  }

  [data-swiper='gallery'] {
    overflow: hidden;
    margin-top: 20px;

    @media (min-width: 1200px) {
      margin-top: 40px;
    }
  }

  .gallery-list {
    @extend .swiper-wrapper;
    display: flex;
    flex-direction: row;
    gap: 16px;

    @media (min-width: 1200px) {
      gap: 0;
    }
  }

  .gallery-item {
    @extend .swiper-slide;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 0;

    @media (min-width: 1200px) {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }

    @media (max-width: 1199px) {
      width: 200px !important;
    }

    @media (min-width: 1200px) {
      width: 333px !important;
    }
  }

  .double-img {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (min-width: 1200px) {
      gap: 20px;
    }
  }
  .gallery-controls {
    display: none;
    @media (min-width: 1200px) {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;
      margin-top: 20px;
    }
  }
  .gallery-prev,
  .gallery-next {
    width: 50px;
    height: 50px;
    background-color: #655959;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    svg {
      width: 24px;
      height: 24px;
      stroke: var(--small-text);
      fill: none;
    }
  }

  .gallery-pagination {
    display: none;

    @media (min-width: 1200px) {
      display: flex;
      position: relative;
      gap: 15px;
    }

    .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      background: #ab9f98;
      border-radius: 50%;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      background: #8c6955;
    }
  }
}
