.gallery-section {
  position: relative;
  overflow: hidden;
  padding-bottom: 40px;
  @include media(desktop) {
    padding-bottom: 80px;
  }

  .gallery-container {
    margin: 0 auto;

    .gallery-title {
      font-weight: 600;
      font-size: 32px;
      margin-bottom: 20px;
      @include media(desktop) {
        font-size: 48px;
        margin-bottom: 40px;
      }
    }

    .gallery-content {
      position: relative;
      width: 100%;

      [data-swiper='gallery'] {
        overflow: hidden;
        margin-top: 20px;
        @include media(desktop) {
          margin-top: 40px;
        }
      }
      .gallery-list {
        @extend .swiper-wrapper;
        display: flex;
        flex-wrap: nowrap;
      }

      .gallery-item {
        @extend .swiper-slide;
        flex: 0 0 auto;
      }

      .double-img {
        display: flex;
        flex-direction: column;
        gap: 16px;
        @include media(desktop) {
          gap: 20px;
        }
      }

      .gallery-controls {
        display: none;
        @include media(desktop) {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          position: relative;
          margin-top: 20px;
          gap: 24px;
          width: 225px;

          [data-swiper-button-prev],
          [data-swiper-button-next] {
            width: 50px;
            height: 50px;
            border: 2px solid #ab9f98;
            border-radius: 50%;
            background: #eae9e5;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 10;

            &::after {
              font-size: 24px;
              color: #ab9f98;
              line-height: 1;
              display: block;
              text-align: center;
            }

            &:hover {
              color: #8c6955;
              border-color: #8c6955;
            }
          }

          [data-swiper-button-prev]::after {
            content: '<';
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 35px;
            color: #ab9f98;
            line-height: 1;
            width: 9px;
            height: 18px;
          }
          [data-swiper-button-next]::after {
            content: '>';
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 35px;
            color: #ab9f98;
            line-height: 1;
            width: 9px;
            height: 18px;
          }

          [data-swiper-button-prev] {
            order: 1;
          }
          [data-swiper-pagination] {
            order: 2;
            display: flex;
            gap: 4px;
            margin: 0;
            width: 77px;

            .swiper-pagination-bullet {
              width: 8px;
              height: 8px;
              border-radius: 50%;
              background-color: #ab9f98;
              opacity: 1;
            }
            .swiper-pagination-bullet-active {
              background-color: #8c6955;
            }
          }
          [data-swiper-button-next] {
            order: 3;
          }
        }
      }
      .gallery-prev {
        order: 1;
      }
      .gallery-pagination {
        order: 2;
        display: flex;
        gap: 4px;
        margin: 0 20px;

        .swiper-pagination-bullet {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: #ab9f98;
          opacity: 1;
        }
        .swiper-pagination-bullet-active {
          background-color: #8c6955;
        }
      }
      .gallery-next {
        order: 3;
      }
    }
  }
}
