.home {
  display: flex;
  flex-direction: column;
  background-color: $basic-bg;
  width: 100%;
  padding-top: 89px;
  margin: 0 auto;

  .home-content {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 10px;
    width: 320px;
    @include media(desktop) {
      gap: 0;
      flex-direction: row;
      width: 1200px;
    }
  }

  .occital {
    width: 100px;
    opacity: 0;
    transform: scale(0);
    animation: fadeIn 1.5s ease-in-out forwards;
    @include media(desktop) {
      margin-top: 149px;
      width: 240px;
      height: 240px;
    }
  }
  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .title-home {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 65px;
    @include media(desktop) {
      margin-bottom: 0px;
      width: 574px;
    }
  }
  p {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: var(--black);
    letter-spacing: -0.02em;
    @include media(desktop) {
      font-size: 56px;
    }
  }

  button {
    background: var(--black);
    border-radius: 10px;
    border: none;
    padding: 18px 45px;
    width: 280px;
    height: 52px;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--light-text);
    margin: 0 auto;
    transition: background-color 0.8s, color 0.8s;

    @include media(desktop) {
      width: 243px;
      font-size: 20px;
      width: 243px;
      height: 64px;
    }
    &:hover {
      background: $highlighted-bg;
    }
  }
}

.hero-frame-mob {
  display: flex;

  // margin-right: -20px;
  // margin-left: -20px;
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: -1.1px;

  @include media(desktop) {
    display: none;
  }
}

.hero-frame-desk {
  display: none;
  @include media(desktop) {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    // margin-right: -20px;
    // margin-left: -20px;
    max-width: 1200px;
  }
}
