@import './header.scss';
@import './home.scss';
@import './about.scss';
@import './features.scss';
@import './coocies.scss';
@import './footer.scss';
@import './cookie-policy.scss';
@import './play.scss';
@import './characters.scss';
@import './advantages.scss';
@import './gallery.scss';
@import './reviews.scss';
@import './answer.scss';
@import './faq.scss';
@import './trailer.scss';

// @import './swiper.scss';

:root {
  --basic-bg: #eae9e5;
  --light-text: #e7e7e7;
  --black: #1b1918;
  --highlighted-bg: #8c6955;
  --highlighted-stroke: #664a2e;
  --small-text: #ab9f98;
  --card-bg: #e5dbc8;
  --card-stroke: #d4cab8;
  --without-star: #d0bf9e;
  --star: #f59e0b;
  --line: #d2d2cd;
  --text: #907d72;
}
.container {
  padding: 0 20px;
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  @include media(desktop) {
    padding: 0 80px;
    width: 1200px;
  }
}
body {
  overflow-x: hidden; /* Отключает горизонтальный скролл */
}

body.data-lock-scroll {
  overflow: hidden; /* Отключает и вертикальный скролл при наличии этого класса */
}

html {
  scroll-behavior: smooth; /* Плавная прокрутка */
  scroll-padding-top: 60px; /* Отступ для прокрутки */

  @include media(desktop) {
    scroll-padding-top: 100px; /* Увеличиваем отступ для десктопов */
  }
}
